{% extends "base.html" %}
{% block content %}
<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'>
<style>
    .form-radio,
    .form-group {
        position: relative;
        margin-top: 0;
        margin-bottom: 25px;
    }

    select,
    .form-group input,
    .form-group textarea {
        resize: none;
        display: block;
        background: none;
        padding: 0.125rem 0.125rem 0.0625rem;
        font-size: 1rem;
        border-width: 0;
        border-color: transparent;
        line-height: 1.9;
        width: 100%;
        color: transparent;
        -webkit-transition: all 0.28s ease;
        transition: all 0.28s ease;
        box-shadow: none;
        background-color: #1a73e8;
    }

    select,
    .form-group input {
        height: 1.9rem;
    }

    .form-group .control-label {
        position: absolute;
        top: 0.25rem;
        pointer-events: none;
        padding-right: 0.125rem;
        z-index: 1;
        color: #b3b3b3;
        font-size: 1rem;
        font-weight: normal;
        -webkit-transition: all 0.28s ease;
        transition: all 0.28s ease;
    }

    select:focus,
    .form-group select:focus,
    .form-group input:focus,
    .form-group textarea:focus {
        outline: none;
    }

    .form-group select,
    .form-group input:focus,
    .form-group input:valid,
    .form-group input.form-file,
    .form-group input.has-value,
    .form-group textarea:focus,
    .form-group textarea:valid,
    .form-group textarea.form-file,
    .form-group textarea.has-value {
        color: #333;
    }

    .form-group input,
    .form-group textarea {

        display: block;
        background: none;
        padding: 0.125rem 0.125rem 0.0625rem;
        font-size: 16px;
        border-width: 0;
        line-height: 1.9;
        width: 100%;
        color: transparent;
        -webkit-transition: all 0.28s ease;
        transition: all 0.28s ease;
        box-shadow: none;
    }

    .form-group input {
        height: 1.9rem;
    }

    .form-group select:focus~.control-label,
    .form-group input:focus~.control-label,
    .form-group textarea:focus~.control-label {
        color: #337ab7;
    }

    /* Main Focus */


    .form-group select~.control-label,
    .form-group userarea~.control-label,
    .form-group input:focus~.control-label,
    .form-group input:valid~.control-label,
    .form-group input.form-file~.control-label,
    .form-group input.has-value~.control-label,
    .form-group textarea.has-value~.control-label {
        top: -14px !important;
        background: #fff !important;
        color: #1a73e8;
        padding: 0 10px;
        border-radius: 5px
    }

    .form-group textarea:focus~.control-label,
    .form-group input:valid~.control-label {
        top: -14px !important;
        background: #fff !important;
        color: #1a73e8;
        padding: 0 10px;
        border-radius: 5px
    }



    /* Main Focus */
    .form-group .control-label {

        position: absolute;
        top: 10px;
        pointer-events: none;
        padding-right: 0.125rem;
        z-index: 1;
        color: #b3b3b3;
        font-size: 14px;
        font-weight: normal;
        -webkit-transition: all 0.28s ease;
        transition: all 0.28s ease;
        right: 15px;

    }

    .form-group input {
        height: 40px;
        border: 1px solid #ccc;
        padding: 13px 15px;
        border-radius: 5px;
    }

    .form-group textarea {

        border: 1px solid #ccc;
        padding: 13px 15px;
        height: 80px;
        border-radius: 5px;
    }

    .form-control:focus {
        color: #495057;
        background-color: #fff;
        border-color: #1a73e8 !important;
        outline: 0;
        box-shadow: none;
    }

    .form-group input:focus {
        height: 40px;
        border: 1px solid #1a73e8;
        padding: 13px 15px;
    }


    .New_form_sec {
        padding: 20px 30px 20px;
        border: 1px solid #dadce0;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }

    .New_form_sec2 {
        border: none;
        padding: 30px 40px 36px;
    }

    .New_form_sec .btn {
        border-radius: 5px;
        min-width: 25%;
        letter-spacing: 0.8px;
        font-weight: bold;
        background: #1a73e8;
        color: #fff
    }

    .New_form_sec .contact-page-title22 {
        text-align: center
    }

    .New_form_sec .contact-page-title22 {
        text-align: center;
        position: relative !important;
        background: #fff;
        text-align: right;
    }


    form-group textarea:valid~.control-label,
    .form-group textarea.form-file~.control-label,
    .form-group textarea.has-value~.control-label {
        font-size: 0.8rem;
        color: gray;
        top: -1rem;
        right: 0;
    }

    .imagePreview {
        width: 100%;
        height: 180px;
        background-position: center center;
        background: url(http://cliquecities.com/assets/no-image-e3699ae23f866f6cbdf8ba2443ee5c4e.jpg);
        background-color: #fff;
        background-size: cover;
        background-repeat: no-repeat;
        display: inline-block;
        box-shadow: 0px -3px 6px 2px rgba(0, 0, 0, 0.2);
    }

    .btn-primary {
        display: block;
        border-radius: 0px;
        box-shadow: 0px 4px 6px 2px rgba(0, 0, 0, 0.2);
        margin-top: -10px;
    }

    .imgUp {
        margin-bottom: 15px;
    }

    .del {
        position: absolute;
        top: 0px;
        right: 15px;
        width: 30px;
        height: 30px;
        text-align: center;
        line-height: 30px;
        background-color: rgba(255, 255, 255, 0.6);
        cursor: pointer;
    }

    .imgAdd {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: #4bd7ef;
        color: #fff;
        box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.2);
        text-align: center;
        line-height: 30px;
        margin-top: 0px;
        cursor: pointer;
        font-size: 15px;
    }

    .form-group input:disabled {
        background-color: rgb(241, 241, 241);
        opacity: 1;
    }

    .images_select{
        margin-top: -10px;
    }
</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
<div dir="rtl" class="container">
    <div class="New_form_sec">
        <form method="POST" action="{% url 'api' %}{% if apr %}{{apr.id}}{% endif %}" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group">
                        <input {% if apr %}value="{{apr.floor}}" {% endif %} class="inputof" min="0" max="100"
                            name="floor" type="number" required>
                        <label for="input" class="control-label">קומה</label>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="form-field form-group" id="street-selection">
                        <input autocomplete="off" {% if apr %}value="{{apr.street}}" {% endif %} class="inputof" type="text"
                            list="streets-data" id="street_choice" name="street_choice" required {% if not apr.street %} disabled {% endif %} />
                        <datalist id="streets-data">
                            <option value="">
                        </datalist>
                        <label for="input" class="control-label">רחוב</label>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="form-field form-group" id="city-selection">
                        <input autocomplete="off" {% if apr %}value="{{apr.city}}" {% endif %} class="inputof" type="text"
                            list="cities-data" id="city_choice" name="city_choice" onchange="make_city()" required />
                        <datalist id="cities-data">
                            <option value="">טוען רשימת ערים...</option>
                        </datalist>
                        <label for="input" class="control-label">עיר</label>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <input {% if apr %}value="{{apr.rent_price}}" {% endif %} min="0" name="rent" type="number"
                            required>
                        <label for="input" class="control-label">שכר דירה חודשי</label>
                    </div>
                </div>

                <div class="col-sm-2">
                    <div class="form-group">
                        <input {% if apr %}value="{{apr.partners}}" {% endif %} name="partners" min="0" type="number" required>
                        <label for="input" class="control-label">מספר שותפים בדירה</label>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <select style="height: 40px;" class="form-control" name="kosher"
                            aria-label="Default select example">
                            <option id="kosher_0" value="0">אין כשרות, אין שבת</option>
                            <option id="kosher_1" value="1">יש כשרות, שומרי שבת</option>
                            <option id="kosher_2" value="2">יש כשרות, אין שבת</option>
                            <option id="kosher_3" value="3">אין כשרות, שומרי שבת</option>
                        </select>
                        <label for="input" class="control-label">כשרות ושבת</label>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <select style="height: 40px;" class="form-control" name="gender"
                            aria-label="Default select example">
                            <option id="check_0" value="0">בן או בת</option>
                            <option id="check_1" value="1">בנים בלבד</option>
                            <option id="check_2" value="2">בנות בלבד</option>
                        </select>
                        <label for="input" class="control-label">מין השותפ.ה</label>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <input {% if rdate %}value="{{rdate}}" {% endif %} name="entey_date" type="date" required>
                        <label for="input" class="control-label">תאריך כניסה</label>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <select style="height: 40px;" class="form-control" name="type"
                            aria-label="Default select example">
                            <option id="type_0" value="0">שותף קבוע</option>
                            <option id="type_1" value="1">סאבלט</option>
                        </select>
                        <label for="input" class="control-label">סוג</label>
                    </div>
                </div>
                <div class="col-sm-10">
                    <div class="form-group">
                        <input {% if apr %}value="{{apr.title}}" {% endif %} maxlength="24" class="inputof"
                            name="title" type="text" required>
                        <label for="input" class="control-label">כותרת המודעה</label>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <textarea name="details" maxlength="500" class="inputof"
                            required="required">{% if apr %}{{apr.details}}{% endif %}</textarea>
                        <label for="textarea" class="control-label">תוכן המודעה</label><i class="bar"></i>
                    </div>
                    
                    <div class="images_select" style="align-items: center;" dir="ltr"">
                        <br><div class=" container">
                        <div style="width: 95%;" class="row">
                            {% if apr %}
                                {% for imgd in apr.imagedata_set.all%}
                                <div class="col-sm-3 imgUp"><div style="background-image: url({{imgd}});" class="imagePreview"></div><label style="display: none;" class="btn btn-primary">Upload<input type="text" style="display: none;" name="imagenochange{{imgd.index}}" value="{{imgd}}"> <input type="file" accept="image/*" name="image{{ imgd.index }}" class="uploadFile img" value="Upload Photo" style="width:0px;height:0px;overflow:hidden;"></label><i id="image{{ imgd.index }}" class="fa fa-times del"></i></div>
                                {% endfor %}
                                
                                {% else %}
                                <div class="col-sm-3 imgUp">
                                    <div class="imagePreview"></div>
                                    <label class="btn btn-primary">
                                        בחר קובץ<input type="file" accept="image/*" class="uploadFile img" name="image0" value="Upload Photo"
                                            style="width: 0px;height: 0px;overflow: hidden;">
                                    </label>
                                </div><!-- col-2 -->
                                {% endif %}
                            <i id="btnAdd" class="fa fa-plus imgAdd"></i>
                        </div><!-- row -->
                    </div><!-- container -->
                </div>
                <div class="form-check">
                    <label class="form-check-label" for="flexCheckDefault"><input name="agree_mail" class="form-check-inline" type="checkbox" {%if apr.agree_mail or not apr%}checked{% endif %} id="flexCheckDefault">
                    כפתור יצירת קשר במודעה, מתעניינים בדירה יוכלו לשלוח לך מייל דרך הטופס אך לא ייצפו במייל שלך. אישור זה מהווה הסכמה לקבלת מיילים ממתעניינים דרך האתר. אם בחרת שלא, מומלץ לשים פרטים בתוכן המודעה
                    </label>
                  </div>
                <div class="">
                    <input type="submit" class="btn theme-btn" value="פרסום מודעה">
                </div>
            </div>
    </div>
    </form>
</div>
</div>
<div>
    <script>



        drk = document.getElementById(`idcat_5`)
        if (drk) drk.classList.add("active")

        function make_city(){
            if (document.getElementById('city_choice').value){document.getElementById('street_choice').disabled = false;}
            else{document.getElementById('street_choice').disabled = true;}
        }

        const api_url = "https://data.gov.il/api/3/action/datastore_search";
        // Cities endpoint
        const cities_resource_id = "5c78e9fa-c2e2-4771-93ff-7f400a12f7ba";
        // Streets endpoint
        const streets_resource_id = "a7296d1a-f8c9-4b70-96c2-6ebb4352f8e3";
        // Field names
        const city_name_key = "שם_ישוב";
        const street_name_key = "שם_רחוב";
        // dataset ids
        const cities_data_id = "cities-data";
        const streets_data_id = "streets-data";
        // input elements
        const cities_input = document.getElementById("city_choice");
        const streets_input = document.getElementById("street_choice");

        /**
         * Get data from gov data API
         * Uses Axios just because it was easy
         */
        const getData = (resource_id, q = "", limit = "100") => {
            //console.log("sending", resource_id, query);
            return axios.get(api_url, {
                params: { resource_id, q, limit },
                responseType: "json"
            });
        };

        /**
         * Parse records from data into 'option' elements,
         * use data from key 'field_name' as the option value
         */
        const parseResponse = (records = [], field_name) => {
            const parsed =
                records
                    .map((record) => `<option value="${record[field_name].trim()}">`)
                    .join("\n") || "";
            //console.log("parsed", field_name, parsed);
            return Promise.resolve(parsed);
        };

        /**
         * Fetch data, parse, and populate Datalist
         */
        const populateDataList = (id, resource_id, field_name, query, limit) => {
            const datalist_element = document.getElementById(id);
            if (!datalist_element) {
                console.log(
                    "Datalist with id",
                    id,
                    "doesn't exist in the document, aborting"
                );
                return;
            }
            getData(resource_id, query, limit)
                .then((response) =>
                    parseResponse(response?.data?.result?.records, field_name)
                )
                .then((html) => (datalist_element.innerHTML = html))
                .catch((error) => {
                    console.log("Couldn't get list for", id, "query:", query, error);
                });
        };

        // ---- APP ----

        /**
         * Populate cities.
         * There are about 1300 cities in Israel, and the API upper limit is 32000
         * so we can safely populate the list only once.
         */
        populateDataList(
            cities_data_id,
            cities_resource_id,
            city_name_key,
            undefined,
            32000
        );

        /**
         * Populate streets
         * Update the streets list on every city name change
         * (assuming there aren't more than 32,000 streets in any city)
         */
        cities_input.addEventListener("change", (event) => {
            populateDataList(
                streets_data_id,
                streets_resource_id,
                street_name_key,
                {
                    שם_ישוב: cities_input.value
                },
                32000
            );
        });
        var statfrom = {% if apr %}{{apr.imagedata_set.all|length}}-1{% else %}0{% endif %}
        var myindex = []
        for (let i = 5; i > statfrom; i--) {
            myindex.push('image'+i)
        }
        console.log(myindex)
        $(".imgAdd").click(function () {
            if (myindex.length > 0) {
                var x = myindex.pop()
                $(this).closest(".row").find('.imgAdd').before(`<div class="col-sm-3 imgUp"><div class="imagePreview"></div><label class="btn btn-primary">בחר קובץ<input type="file" accept="image/*" name="${x}" class="uploadFile img" value="Upload Photo" style="width:0px;height:0px;overflow:hidden;"></label><i id="${x}" class="fa fa-times del"></i></div>`);
                if (myindex.length === 0) {
                    document.getElementById("btnAdd").style.background = '#b7b7b7';
                }
            }
        });

        
        $(document).on("click", "i.del", function () {
            if(myindex.length < 5){
                myindex.push(this.id)
                $(this).parent().remove();
                document.getElementById("btnAdd").style.background = '#4bd7ef';
            }
        });
        $(function () {
            $(document).on("change", ".uploadFile", function () {
                var uploadFile = $(this);
                var files = !!this.files ? this.files : [];
                if (!files.length || !window.FileReader) return; // no file selected, or no FileReader support

                if (/^image/.test(files[0].type)) { // only image file
                    var reader = new FileReader(); // instance of the FileReader
                    reader.readAsDataURL(files[0]); // read the local file

                    reader.onloadend = function () { // set image data as background of div
                        //alert(uploadFile.closest(".upimage").find('.imagePreview').length);
                        uploadFile.closest(".imgUp").find('.imagePreview').css("background-image", "url(" + this.result + ")");
                    }
                }

            });
        });

        document.getElementById("check_{{apr.gender}}").selected = "true";
        document.getElementById("kosher_{{apr.kosher}}").selected = "true";
        document.getElementById("type_{{apr.type}}").selected = "true";
    </script>
    {% endblock %}